@model AppManagement.Models.ApplicationViewModel
@{
    ViewBag.Title = "Relationship";
}

@using (Html.BeginForm("Save", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "frmApp" }))
{
    @Html.HiddenFor(i => Model.Id)
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                @if (Model.Id > 0)
                {
                    <h4 class="col-md-8">Application Number : @Model.Id</h4>
                }
                else
                {
                    <h4 class="col-md-8">Create Application</h4>
                }
                @Html.Label("* Required Field", new { @class = "text-danger col-md-2 pull-right" })
            </div>
        </div>
        <div class="panel-body">
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    @for (int index = 0; index < Model.HouseMembers.Count; index++)
                    {
                        <li role="presentation" class="active"><a href="#@Model.HouseMembers[index].Id" aria-controls="@Model.HouseMembers[index].FirstName" role="tab" data-toggle="tab">@Model.HouseMembers[index].FirstName @Model.HouseMembers[index].LastName</a></li>
                    }
                </ul>
                <div class="tab-content">
                    @for (int index = 0; index < Model.HouseMembers.Count; index++)
                    {
                        <div role="tabpanel" class="tab-pane active" id="@Model.HouseMembers[index].Id">@Model.HouseMembers[index].FirstName</div>
                    }
                </div>
            </div>
         </div>
         <div class="panel-footer">
                <div class="row">
                    <div class="col-md-10">
                        <input type="submit" value="Save & Exit" class="btn btn-primary control-label" />
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink(" Next  ", "Relationship", "Application", new { @id = Model.Id }, new { @class = "btn btn-primary control-label  pull-right" })
                        <span class="pull-right">&nbsp;&nbsp;</span>
                        @Html.ActionLink(" Back ", "Index", "Home", null, new { @class = "btn btn-primary control-label  pull-right" })
                    </div>
                </div>
          </div>
    </div>
}

